<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button expand="block" (click)="irInicio()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ww">
    <div class="triangle">
      <div class="td"></div>
      <div class="ti"></div>
    </div>

    <div class="box">
      <ion-item>
        <ion-label position="floating">Presupuesto</ion-label>
        <ion-input [(ngModel)]="presupuesto" name="presupuesto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Unidad</ion-label>
        <ion-input [(ngModel)]="unidad" name="unidad"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Producto</ion-label>
        <ion-input [(ngModel)]="producto" name="producto"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cantidad</ion-label>
        <ion-input [(ngModel)]="cantidad" name="cantidad" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor Unitario</ion-label>
        <ion-input [(ngModel)]="valor_unitario" name="valor_unitario" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Valor Total</ion-label>
        <ion-input [(ngModel)]="valor_total" name="valor_total" type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Fecha de Adquisición</ion-label>
        <ion-input [(ngModel)]="fecha_adquisicion" name="fecha_adquisicion" type="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Proveedor</ion-label>
        <ion-input [(ngModel)]="proveedor" name="proveedor"></ion-input>
      </ion-item>
      
      <div class="btn_div">
        <button class="btn" (click)="create()">Añadir</button>
      </div>

      <ion-list>
        <ion-item-sliding *ngFor="let prod of productos">
          <ion-item>
            <ion-label>{{ prod.producto }}</ion-label>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="light" (click)="update(prod)">Actualizar</ion-item-option>
            <ion-item-option color="danger" (click)="delete(prod)">Eliminar</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>
</ion-content>
