<ion-header>
  <ion-toolbar color="danger">
<ion-buttons slot="start">

</ion-buttons>
<ion-title>Inicio</ion-title>

   
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-icon name="person"></ion-icon>
        <ion-text><h1>Bienvenido</h1></ion-text>
      </ion-col>

      

      <ion-col size="6">
        <ion-card color="success">
          <ion-icon name="basket-outline"></ion-icon>
        <ion-button fill="clear" (click)="irProductos()">
          <ion-text color="dark" ><h2>Productos</h2></ion-text>
        </ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="warning">
          <ion-icon name="add-circle-outline"></ion-icon>
        <ion-button fill="clear" class="centered" (click)="irIngresar()">
          <ion-text color="dark"><h2>Añadir</h2></ion-text>
        </ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="light">
          <ion-icon name="build-outline"></ion-icon>
        <ion-button fill="clear">
          <ion-text color="dark"><h2>Actualizar</h2></ion-text>
        </ion-button>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card color="danger">
          <ion-icon name="skull-outline"></ion-icon>
        <ion-button fill="clear">
          <ion-text color="dark"><h2>Eliminar</h2></ion-text>
        </ion-button>
        </ion-card>
      </ion-col>

      
    </ion-row>
  </ion-grid>
  
</ion-content>
